.container, body {
  background-color: black;
  color: white;
}

#quizArea{
    margin: 20px auto;
    width: 400px;
    height: 200px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    position:relative;
}

#answer{
    padding-top:10px;
}

#question{
    float: left:
    color: #FFEDCC;
}

footer {
    font-size: .8em;
    color: #FFB732;
}

header{
    color: #B20000;
}

#usersAnswer{
  color: black;
}

#right{
    display: none;
    color: #4CA64C;
}

#wrong{
    display: none;
    color: #FF9999;
}

#next{
    position: absolute;
    bottom: 0;
    right: 0;
}

#retryBtn{
    display: none;
}